.star > svg {
  max-width: 15%;
  min-width: 1.5rem;
}

.col-title {
  font-weight: 500;
}

.good-trait {
  color: green;
}

.bad-trait {
  color: darkred;
}

.pet-card {
  height: 100%;
  align-items: center;
}

div.selected-card {
  border: 2px solid #000000;
}

.pet-card-body {
  width: 100%;
}

div.pet-gallery-row {
  --bs-gutter-x: 0.3rem;
}

.pet-card-img {
  width: 50%;
}

span.pet-card-status {
  margin-top: 0.5rem;
}

div.job-timer {
  margin-bottom: 1rem;
}
