.star > svg {
  max-width: 15%;
  min-width: 1.5rem;
}

.col-title {
  font-weight: 500;
}

.good-trait {
  color: green;
}

.bad-trait {
  color: darkred;
}

.pet-gallery {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.pet-card {
  height: 100%;
  align-items: center;
}

.pet-card-col {
  margin-bottom: 0.3rem;
}

.pet-card-body {
  width: 100%;
}

.pet-gallery > .row {
  --bs-gutter-x: 0.3rem;
}

.pet-card-img {
  width: 50%;
}
