.job-posting {
  margin-bottom: 1.5rem;
}

.job-posting-card {
  height: 100%;
}

.job-posting-card > .ant-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-posting > div {
  height: 100%;
}

.job-posting-row {
  justify-content: center;
}
